*{
    box-sizing: border-box;
}

[class *= "col-"]{
    float: left;
    padding: 5px;
}

.center{
    margin-left: 33%;
}
.row::after{
    content: "";
    clear: both;
    display: table;
}

.logo{
    width: 33.33%;
    margin-top: 15%;
}

.search_box{
    border-radius: 10px;
    height: 30px;
    background-color: white;
    color: rgb(48, 48, 48);
    outline: none;
}

input[type=text]:focus{
    background-color: rgb(248, 246, 246);
    border: 2px solid rgb(201, 198, 198);
}

.button{
    border: 1px;
    color: rgb(48, 48, 48);
    background-color: lightgray;
    border-radius: 10px;
    height: 30px;
    text-align: center;
    position: relative;
    left: 150px;
    display: inline-block;
}

.button:hover{
    background-color: rgb(48, 48, 48);
    color: white;
}

li{
    display: inline;
    padding: 5px; 
}

.navbar{
    margin-left: 80%;
}

.footer{
    position: relative;
    top: 180px;
}